<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Tegan Jetton</title>
  <link rel="stylesheet" href="mystyle.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,400;1,600&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <nav id="navbar">
      <a class="nav-link" id="home-button" href="index.html"><img src="images/thumbnails/site-images/logo-web.png" alt="Home"></a>
      <ul class="nav-list">
        <li><a class="nav-link" href="index.html#about-anchor">About</a></li>
        <li><a class="nav-link" href="index.html#projects-anchor">Work</a></li>
        <li><a class="nav-link" href="index.html#contact-anchor">Contact</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section id="welcome-section">
      <h4 id=email></h4>
    </section>
  </main>
  <footer>
    <p>&copy 2021 Tegan Jetton</p>
    <p>This website was designed and written by Tegan Jetton</p>
  </footer>


<script type="text/javascript">
  var user = 'tegan.jetton',
    domain = 'gmail.com',
    element = document.getElementById('email');

    element.innerHTML = user + '@' + domain;
</script>
</body>
