<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Tegan Jetton</title>
  <link rel="stylesheet" href="mystyle.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,400;1,600&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <nav id="navbar">
      <a class="nav-link" id="home-button" href="#welcome-section"><img src="images/thumbnails/site-images/logo-web.png" alt="Home"></a>
      <ul class="nav-list">
        <li><a class="nav-link" href="#about-anchor">About</a></li>
        <li><a class="nav-link" href="#projects-anchor">Work</a></li>
        <li><a class="nav-link" href="#contact-anchor">Contact</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section id="welcome-section">
      <h1>Tegan Jetton</h1>
      <h2>Web Developer, Artist, Thinker, Tinker[er]</h2>
    </section>
    <span id="spacing-span"></span>
    <span class="anchor" id="about-anchor"></span>

    <section id="about">
      <h2>Who is Tegan?</h2>
      <p>Tegan Jetton is a web designer and artist from Perry, Michigan. She attended Michigan State University majoring in Sculpture and Painting, and minoring in Chinese Language and Culture. During her time at Michigan State she discovered her love of intermedia art and blurring the lines between painting, sculpture, and digital tomfoolery. She integrated video, sound clips, and computer code (C++ and Python) with her physical works made of metal, plaster, paper, and ink.</p>
<p>Tegan likes to problem solve and find solutions to puzzles. Not just in programming, but over the years she has learned how to do her own bike maintenance and repair, repair and upgrade her computers, and brew a great cup of coffee.</p>
<p>In more recent years, Tegan has found herself working at Dante's Pizzeria in Chicago, Illinois. She is the go-to person for implementing any POS or online menu changes, has worked every job in the restaurant, and regularly troubleshoots and solves problems both physical and digital. She loves her team, but has decided to change fields. She is now training herself in Web Development using freeCodeCamp. Her view on things is best described as "I can figure that out," and so she has decided to invest in herself to learn and grow into the exciting field of computer programming.</p>
    </section>

    <span class="anchor" id="projects-anchor"></span>
    <section id="projects">
      <h2>Projects</h2>
      <p>Below are some of my projects. These are the website projects from freeCodeCamp. Currently, they are not perfect - but they are original. Hours spent frustrated and frantically Googling how things work so I can understand. Feel free to take a look and see how my HTML/CSS skills have improved in just a few months. Check back regularly to see new projects!</p>
      <div class="project-grid">
        <div id="project-5" class="project-tile">
            <a href="https://codepen.io/teganjetton/pen/abmqpjr"
               target="_blank"
               class=""
               >
              <img src="images/thumbnails/site-images/portfolio-screenshot.png" alt="Portfolio">
              <label id="project-label" for="project-5">Portfolio</label>
            </a>
         </div>
         <div id="project-4" class="project-tile">
            <a href="https://codepen.io/teganjetton/pen/GRjmMgE"
               target="_blank"
               class=""
               >
              <img src="images/thumbnails/site-images/technical-documentation-screenshot.png" alt="Technical Documentation Page">
              <label id="project-label" for="project-4">Technical Documentation</label>
            </a>
        </div>
        <div id="project-3" class="project-tile">
           <a href="https://codepen.io/teganjetton/pen/ExgjWyd"
              target="_blank"
              class=""
              >
            <img src="images/thumbnails/site-images/product-landing-page-screenshot.png" alt="Product Landing Page">
            <label id="project-label" for="project-3">Product Landing Page</label>
           </a>
        </div>
        <div id="project-2" class="project-tile">
          <a href="https://codepen.io/teganjetton/pen/pobXErJ"
             target="_blank"
             class=""
             >
            <img src="images/thumbnails/site-images/survey-form-screenshot.png" alt="Survey Form">
            <label id="project-label" for="project-2">Survey Form</label>
          </a>
        </div>
        <div id="project-1" class="project-tile">
         <a href="https://codepen.io/teganjetton/pen/xxONppp"
            target="_blank"
            class=""
            >
          <img src="images/thumbnails/site-images/tribute-page-screenshot.png" alt="Tribute Page">
          <label id="project-label" for="project-1">Tribute Page</label>
          </a>
        </div>
      </div>
    </section>
    <span class="anchor" id="contact-anchor"></span>
    <section id="contact" class="contact-section">
      <div class="contact-header">
        <h2>Contact</h2>
        <p>Want to chat?</p>
      </div>
      <div class="contact-links">
        <ul>
          <li><a id="profile-link-1" href="https://codepen.io/teganjetton" target="_blank">Codepen</a></li>
          <li><a id="profile-link-2" href="https://github.com/teganjetton" target="_blank">GitHub</a></li>
          <li><a id="profile-link-3" href="contact.html">Contact Info</a></li>
        </ul>
      </div>
    </section>
    <footer>
      <p>&copy 2021 Tegan Jetton</p>
      <p>This website was designed and written by Tegan Jetton</p>
    </footer>
  </main>
</body>
</html>
